body {
    display: flex;
    justify-content: center;
    }
  
  .caja{
    border: 1px solid black;
    text-align: center;
  }

  tr,th{
    border: 1px solid black;
  }

  td{
    text-align: left;
    border: 1px solid black;
  }