body {
  background: url(../imagen/fondo.jpg);
}

#caja {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
}

.caja2 {
  width: 5em;
  height: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1em;
  border: 1px solid black;
}

#a,
#b1,
#c,
#d {
  background: url(../imagen/mantel.jpg);

}

#b1 {
    
  width: 80%;
  height: 80%;
text-align: center;
}

#c,
#d {
  background-repeat: no-repeat;
  background-size: cover;
}

#d {
  box-sizing: border-box;
  border: 10px solid whitesmoke;
}

#e,
#f {
  background: url(../imagen/tio2.jpg) no-repeat;
}

#f {
  box-sizing: border-box;
  border: 10px solid whitesmoke;
}

#g {
  background: url(../imagen/tio3.jpg) no-repeat;
  background-color: aliceblue;

}

#h {
  background: url(../imagen/tio.jpg) no-repeat;
}

#e,
#f,
#g,
#h {
  background-position: center;
  background-size: contain;
  background-color: aliceblue;
}

#i {
  background: rgb(125, 230, 21);
  background: linear-gradient(
    90deg,
    rgba(125, 230, 21, 1) 0%,
    rgba(98, 147, 49, 1) 50%,
    rgba(20, 25, 15, 1) 110%
  );
}
#j {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    rgb(211, 140, 112) 25%,
    rgb(199, 99, 59) 50%,
    rgb(110, 32, 1) 80%,
    rgb(110, 32, 1) 90%,
    rgb(236, 224, 224) 110%
  );
}
#k {
  background: linear-gradient(#e6d5c3, #0ba558);
}
#l {
  background: linear-gradient(transparent, #0ba558);
}

