body {
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  border: 1px solid black;
  text-align: center;
}

tr {
  border: 1px solid black;
}
th {
  border: 1px solid black;
}

td {
  border: 1px solid black;
}

.españa {
  font-weight: bold;
}
