.debajo {
  overflow: hidden;
  position: relative;
  margin-left: 25%;
}
.caja {
  width: 40vw;
  position: absolute;
  top: 40%;
  left: 38%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-top: 5px solid beige;
  border-right: 5px solid black;
  border-bottom: 5px solid black;
  border-left: 5px solid beige;
}
.normal {
  width: 40vw;
  background-color: white;
  text-align: center;
  border-top: 1px solid black;
  border-right: 1px solid beige;
  border-bottom: 1px solid beige;
  border-left: 1px solid black;
}
.amarillo {
  text-align: center;
  background-color: yellowgreen;
  border-top: 1px solid black;
  border-right: 1px solid beige;
  border-bottom: 1px solid beige;
  border-left: 1px solid black;
}
